table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}
.header {
    text-align: center;
}
.table {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

td {
    border: 1px solid rgb(152, 149, 149);
    padding: 8px 10px;
}